/* support for multiline headers */
.react-grid-multiline-header .react-grid-HeaderCell {
  white-space: normal !important;
}

.cadastrapp {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  top: 0;
  right: 0;
  height: calc(100% - 30px);
  width: 660px;
  z-index: 1000;
}
.cadastrapp .top {
  height: 52px;
  width: 100%;
  color: #ffffff;
  background-color: #078aa3;
}
.cadastrapp .top h4 {
  float: left;
  width: 200px;
  line-height: 32px;
  margin-left: calc(50% - 100px);
}
.cadastrapp .top .btn {
  border: none !important;
  border-top: none !important;
}
.cadastrapp .top .glyphicon:hover {
  transition: 0.3s;
  transform: scale(1.2);
  display: block;
}
.cadastrapp .side-bar {
  width: 46px;
  margin-top: 0;
  height: 100%;
  background: #eee;
}
.cadastrapp .side-bar .square-button  {
  height: 46px;
  width: 46px;
  outline: 0;
}
.cadastrapp h3 {
  margin-top: 10px;
  margin-left: 12px;
}
.cadastrapp .tab-pane {
  padding: 10px;
}
.cadastrapp .welcome-message {
  padding: 60px;
  text-align: center;
  position: relative;
  height: 500px;
}
.cadastrapp .welcome-message-versions {
  width: 60%;
  margin: 80px auto;
}
.cadastrapp .welcome-message-versions tr td:first-child {
  text-align: left;
}
.cadastrapp .welcome-message-versions tr td:last-child {
  text-align: right;
}
.cadastrapp .welcome-message-build {
  margin-left: 0;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.cadastrapp .table {
  margin-bottom: 5px;
}
.cadastrapp .right-side {
  height: 100%;
  width: calc(100% - 52px);
  overflow: auto;
}
.cadastrapp .btn-selected {
  background: #fff;
  color: #078aa3;
}
.cadastrapp .row {
  margin-left: 0px;
  margin-right: 0px;
}
.cadastrapp .not-selected-row:hover {
  color: #078aa3 !important;
  font-weight: bold;
  background: #f2f2f2;
  cursor: pointer;
}
.cadastrapp .selected-row {
  color: #078aa3 !important;
  font-weight: bold;
  background: #f2f2f2;
  cursor: pointer;
}
.cadastrapp .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
.cadastrapp .owners-search,
.cadastrapp .coownership-search,
.cadastrapp .plots-search {
  padding: 10px;
  max-height: 50%;
  height: 50%;
}
.cadastrapp .plots-selection {
  width: 100%;
  padding: 10px;
  min-height: 420px;
}
.cadastrapp .plots-selection .table-row {
  float: left;
  width: 100%;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}
.cadastrapp .plots-selection .table-row:hover {
  color: #078aa3 !important;
  background: #f2f2f2;
}
.cadastrapp .plots-selection .table-row.selected {
  color: #078aa3 !important;
  background: #f2f2f2;
  font-weight: bold;
}
.cadastrapp .plots-selection .cell {
  padding: 4px;
  float: left;
}
.cadastrapp .plots-selection .header {
  float: left;
  border-bottom: solid 1px #ddd;
  font-weight: bold;
  width: 100%;
}
.cadastrapp .tab-content {
  border: solid 1px #ddd;
  border-top: none;
  overflow-x: hidden;
  overflow-y: auto;
  /*height: calc(50vh - 180px);*/
  min-height: 200px;
}
.cadastrapp .not-scrolled-tab .tab-content {
  overflow-x: visible;
  overflow-y: visible;
  height: calc(50vh - 180px);
  min-height: 200px;
}
/* reconsider this */
.item-row {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.label-col {
  width: 40%;
  float: left;
}
.form-col {
  width: 60%;
  float: left;
}
.cadastrapp-modal.modal-dialog {
  width: 840px;
  max-width: none !important;
}
/* skip overrides in georchestra TODO: remove !important in favor of a more specific rule */
.cadastrapp-modal.cadastrapp-information-modal {
  min-width: 85% !important;
}
div.cadastrapp-owners-modal .modal-dialog {
  width: 85% !important;
}
div.cadastrapp-preferences-dialog {
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: 100001 !important;
}
div.cadastrapp-modal.cadastrapp-owners-modal .modal-content{
  min-width: 850px !important;
}
div.cadastrapp-modal.cadastrapp-landed-property-modal {
  min-width: 850px !important;
}
.cadastrapp-information-modal
.cadastrapp-modal .tab-content {
  border: solid 1px #ddd;
  border-top: none;
  overflow: hidden;
}
.cadastrapp-modal .tab-pane {
  padding: 10px;
}
.cadastrapp-modal .modal-footer {
  border: none;
}
.cadastrapp-modal .information-panel-title.selected {
  background: #078aa3 !important;
  color: #fff !important;
}
.cadastrapp-modal .panel-heading {
  padding: 0 !important;
}
.cadastrapp-modal .panel-heading a {
  padding: 10px;
  display: block;
  width: 100%;
}
.cadastrapp-modal .panel-heading a:hover {
  text-decoration: none;
}
.cadastrapp-modal .table-row {
  float: left;
  width: 100%;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}
.cadastrapp-modal .table-row:hover {
  color: #078aa3 !important;
  background: #f2f2f2;
}
.cadastrapp-modal .table-row.selected {
  color: #078aa3 !important;
  background: #f2f2f2;
  font-weight: bold;
}
.cadastrapp-modal .cell {
  padding: 4px;
  float: left;
}
.cadastrapp-modal .header {
  float: left;
  border-bottom: solid 1px #ddd;
  font-weight: bold;
  width: 100%;
}
.cadastrapp-preferences-dialog {
  background: #fff;
  width: 400px;
}
.cadastrapp-preferences-dialog .tab-content {
  overflow: hidden;
}
.cadastrapp-preferences-dialog .tab-pane {
  padding: 10px;
}

.cadastrapp-information-modal .modal-body {
  max-height: 85vh !important;
  overflow-y: auto !important;
}
.cadastrapp-modal.modal-dialog {
  margin-top: 40px !important;
}
.ms-color-picker-overlay {
  z-index: 12000;
}
.Select.is-open {
  position: relative;
  z-index: 10000000;
}
.Select-menu-outer {
  width: 160px !important;
}
.land-planning-mockup {
  position: fixed;
  height: 52px;
  width: 208px;
  top: 58px;
  right: 5px;
  z-index: 10000000;
}

/* information form */

/* article 40 */
.article40 .habitationDetailsMenuTitle, .article50 .profCategorie, .article60 .habitationDetailsMenuTitle {
  font-style: italic;
  background: lightblue;
  padding: 5px;
  margin: 5px 0 0 0;
}
.article40 > div, .article50 .profDetails, .article60 > div {
  padding: 0 10px;
}
.article50 .profDetails {
  text-align: right;
}
.article50 .profDetailsLabel {
  float: left;
}

/* Popup Viewer */
.popup-container {
  padding: 10px;
  border: 5px solid #afadad82
}
td.info-popup-label {
  text-align: end;
  font-weight: 600;
}
.cadastrapp-unite-fonciere {
  margin-top: 10px;
  color: blue;
}
th.info-popup-header {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
.info-popup-plot {
  text-align:center;
  font-style: italic;
}
.info-popup-table {
  width: 100%;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Request form */
.request-modal-body {
  max-height: 500px;
  overflow-y: auto;
}
.request-obj-label {
  width: 100%;
  float: left;
}
.request-obj-triple{
  width: 120px;
  float: left;
  margin: 4px
}
input.request-obj-double.form-control{
  width: 200px;
  height: 34px;
  margin: 4px
}
.drop-up .Select-menu-outer {
  top: auto !important;;
  bottom: 100%;
}
